#forgot-password-wrapper {
    width: 100%;
    background-color: #fff;

    main {
        width: 97%;
        margin: 0 auto;
        background-color: #fff;

    header {
        h1{
            font-size: 24px;
            font-weight: 700;
            border-bottom: 3px solid #65B621;
            padding: 15px 0;
        }
    }


    & > section {
       
        .form-group {
            width: 100%;
            border: 1px solid lightgrey;
            padding: 15px;
            margin-right: 15px;

            input[type="email"] {
                width: 100%;
                border: none;
                outline: none;
            }

           
        }   

        button {
            width: 100%;
            padding: 15px;
            border: 1px solid #65B621;
            background-color: #65B621;
            color: #fff;
            font-size: 600;
            margin-bottom: 20px;
        }

    }
}

}



// MEDIA QUERY FOR WIDTH >= 768PX 
@media (min-width: 768px) {
    main {
        width: 90% !important;
        margin: 0 auto;
    }
}


// MEDIA QUERY FOR WIDTH >= 850PX 
@media (min-width: 850px) {
    main {
        width: 720px !important;
        margin: 0 auto;
    }
}

// MEDIA QUERY FOR WIDTH >= 992PX 
@media (min-width: 992px) {
    main {
        width: 92% !important;
    }
    main section {
        width: 50% !important;
        margin: 0;
    }
}