<app-navbar></app-navbar>

<!-- LOG IN HEADING  -->
<header>
    <h1>LOG IN</h1>
</header>

<!-- BACKGROUND HERO  -->
<section id="hero">
    <div id="hero-content">
        <div class="input-field-wrapper">
            <input type="text" placeholder="Email Address" name="">
        </div>
        <div class="input-field-wrapper form-group">
            <input type="text" placeholder="Password" name="">
        </div>
        <p>
           By accessing Careers24 you agree to our terms of service and privacy policy.
        </p>
        <button class="btn btn-block login-btn">LOG IN</button>
    

        <div class="d-flex justify-content-between align-items-center mt-3">
            <p class="d-flex align-items-center">
                <input type="checkbox" name="" id="">
                <label for="" class="text-white ml-2 mt-2" style="font-weight: 400; font-size: 14px">Stay Logged In</label>
            </p>
            <p>
                <a routerLink="/" class="text-white" style="font-weight: 400; font-size: 17px">Forgot Password</a>
            </p>
        </div>
    
        <button class="btn btn-block register-btn">SIGN UP</button>
    </div>

</section>
<app-footer></app-footer>