nav {
    background:#2b353e !important;
    height: 8vh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    // display: flex;
    // justify-content: space-between;

    & > section {
        display: flex;
        height: 8vh;
        justify-content: space-between;
        width: 1200px;
        
    }

    #hambugger-menu-btn {
        background-color: transparent;
        color: #fff;
        border: none;
        outline: none;
        margin: 0 10px 0;
        .fa-bars {
            font-size: 23px;
            font-weight: 600;
        }
 
    }

    h1 {
        color: #fff;
        margin-bottom: 5px;
        a {
            font-size: 30px;
            font-weight: 700;
        }
    }

    a {
        color: #fff;
    }


    // LIST STYLES 
    ul {
        list-style: none;
        display: flex;

        i {
            font-size: 19px;
            font-weight: 700;
        }

        li:nth-child(1), li:nth-child(2), li:nth-child(3) {
            margin: 0 -7px;
            font-size: 15px !important;
        }

        li, a{
            color: #fff;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 8vh;
            text-decoration: none;

            &:hover {
                color: #65b621;
            }
        }

        #search-list-item {
            height: 8vh;
            background-color: #65b621;
            padding: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;   
        }

    }
}


@media (max-width: 1200px ){

    nav {
        & > section {
            width: 100%;
        }
    }

}

@media ( max-width: 720px ) {

    nav ul {

        li:nth-child(1), li:nth-child(2), li:nth-child(3) {
           display: none;
        }

    }

}