header {
    padding: 10px;
    text-align: center;
    h1 {
        font-size: 17px;
    }
}

main {
    margin: 0 auto;
    background-color: #fff;
    border-top: 3px solid #65B621;
    padding: 15px;
    form {
        margin-bottom: 35px;
        .form-group {
            background-color: #fff;
            padding: 15px;
            border: 1px solid lightgrey;

            input {
                border: none !important;
                outline: none !important;
                width: 100%;
            }
        }

    }

    #job-seeker-wrapper {
        margin-top: 40px;
        h2 {
            font-size: 17px;
        }
        #job-seeker-btns {
            .seeker-btn {
                text-align: center;
                padding: 15px;
                border: 1px solid #2b353e;
                margin: 15px 0;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: #2b353e;
                    color: #fff;
                }
            }            
        }
    }




    #employed {
        margin: 25px 0;

        & > div {
            margin-top: 20px;
        }

        h2 {
            font-size: 17px;
        }

        #select-month {
            width: 50%;
            padding: 16px;
            border: 1px solid lightgrey;
        }

        #select-year {
            width: 50%;
            padding: 16px;
            border: 1px solid lightgrey;
        }

    }

    #unemployed {
        display: none;
        h2 {
            font-size: 17px;
            margin: 20px 0;
        }

        & > section {
            display: flex;
            flex-wrap: wrap;

             & > div {
                border: 1px solid #2b353e;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-basis: 200px;
                flex-grow: 1;
                flex-shrink: 1;
                padding: 15px;
                font-size: 17px;
                color: #2b353e;
             }
        }

    }

    #first-time-seeker {
        display: none;
    }

    #checkboxes {
        margin-top: 20px;

        & > div {
            display: flex;
            margin: 12px 0;
        }
        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            border-radius: 0 !important;
            border: 1px solid lightgrey;
        }

        label {
            margin-left: 10px;
            font-size: 14px;
            padding-bottom: 10px;
            height: 20px;
            color: #2b353e;
        }
    }


    
    #auth-buttons {
        padding: 0 !important;
        margin-left:0;
        button {
            background-color:#65B621;
            border: 1px solid #65B621;
            display: block;
            width: 100%;
            padding: 15px;
            text-align: center;
            margin-bottom: 15px;
            margin-left: 0;
            color: #fff;
            font-weight: 600;
        }

        a {
            border: 1px solid #2b353e;
            padding: 15px;
            font-size: 17px;
            text-align: center;
            display: block;
            margin-top: 10px;
            color: #2b353e !important;
            text-decoration: none !important;
        }
    }


    // ACTIVE CLASSES 
    .employment-active {
        background-color: #2b353e;
        color: #fff;
    }

    .experience-active {
        background-color: #2b353e;
        color: #fff !important;
    }


}




// MEDIA QUERIES FOR WIDTH >= 410
@media (min-width: 410px) {

    #job-seeker-btns {
        display: flex;
        .seeker-btn {
            flex-basis: 100px;
            flex-grow: 1;
            flex-shrink: 1;
            padding: 8px !important;
        }
    }



}

@media (min-width: 504px) {

    #job-seeker-btns {
        .seeker-btn {
            padding: 15px 0 !important;
        }
    }



}


// MEDIA QUERY MIN WIDTH >= 581 
@media (min-width: 581px) {

    #auth-buttons {
        display: flex;

        button {
            width: 224px !important;
            margin: 0 5px;
        }

        & > div {
            width: 224px !important;
            margin: 0 5px;
            padding: 0;

            a {
                margin-top: 0;
                padding: 14px;
            }
        }
    }

}



// MEDIA QUERY MIN WIDTH >= 768px 
@media (min-width: 768px) {
    
    #register-form-wrapper{
        width: 70%;
        margin: 0 auto;
    }

}



// MEDIA QUERY MIN WIDTH >= 1026   
@media (min-width: 1026px) {

    main {
        width: 92%;
    }

}

// MEDIA QUERY MIN WIDTH >= 1200px   
@media (min-width: 1200px) {

    main {
        width: 83%;
    }

}