<div id="register-wrapper">

<app-navbar></app-navbar>

<header>
    <h1>SIGN UP</h1>
</header>

<main>

    <section id="register-form-wrapper">
        <form>
            <div>
            <div class="form-group">
                <input type="email" placeholder="Email Address">
            </div>

            <div class="form-group">
                <input type="password"  placeholder="Password">
            </div>

            <small>Passwords must be at least 10 characters long with an UPPERCASE, lower case, number and special character.</small>
        </div>
        </form>

        <div id="job-seeker-wrapper">
            <h2>I am currently</h2>
            <div id="job-seeker-btns">
                <div class="seeker-btn">Employed</div>
                <div class="seeker-btn">Unemployed</div>
                <div class="seeker-btn">1st Time Job Seeker</div>
            </div>
        </div>
    </section>
    
    
    

</main>

<app-footer></app-footer>

</div>