header {
    padding: 10px;
    text-align: center;
    h1 {
        font-size: 17px;
    }
}

main {
    background-color: #fff;
    border-top: 3px solid #65B621;
    padding: 15px;
    form {
        .form-group {
            background-color: #fff;
            padding: 15px;
            border: 1px solid lightgrey;

            input {
                border: none !important;
                outline: none !important;
                width: 100%;
            }
        }

    }
}