<div id="register-wrapper">

<app-navbar></app-navbar>

<header>
    <h1>SIGN UP</h1>
</header>

<main>

    <section id="register-form-wrapper">
        <form>
            <div>
            <div class="form-group">
                <input type="email" placeholder="Email Address">
            </div>

            <div class="form-group">
                <input type="password"  placeholder="Password">
            </div>

            <small>Passwords must be at least 10 characters long with an UPPERCASE, lower case, number and special character.</small>
       
            <div id="job-seeker-wrapper">
                <h2>I am currently</h2>
                <div id="job-seeker-btns">
                    <div class="seeker-btn">Employed</div>
                    <div class="seeker-btn">Unemployed</div>
                    <div class="seeker-btn">1st Time Job Seeker</div>
                </div>
            </div>

            <section>
                <div id="employed">
                    <h2>When did you start your professional career?*</h2>
                    <div>
                        <div>
                            <select id="select-month" placeholder="Month">
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="july">july</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>

                            <select id="select-year" >
                                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="unemployed">
                        <h2>Do you have work experience? *</h2>
                        <section>
                            <div><span>Yes</span></div>
                            <div><span>No</span></div>
                        </section>
                </div>

                <div id="first-time-seeker">

                </div>
            </section>

            <div id="checkboxes">
                <div>
                    <input type="checkbox" name="" id="">
                    <label for="">Send me Careers24 newsletters</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="">
                    <label for="">Send me Careers related promotions</label>
                </div>
            </div>

            <div  id="auth-buttons">
                <button>SIGN UP</button>
                <a href="#">I HAVE AN ACCOUNT</a>
            </div>
        </div>
        </form>

      
    </section>
    
    
    

</main>

<app-footer></app-footer>

</div>