header {
    padding: 10px;
    text-align: center;
    h1 {
        font-size: 17px;
    }
}

main {
    background-color: #fff;
    border-top: 3px solid #65B621;
    padding: 15px;
    form {
        margin-bottom: 35px;
        .form-group {
            background-color: #fff;
            padding: 15px;
            border: 1px solid lightgrey;

            input {
                border: none !important;
                outline: none !important;
                width: 100%;
            }
        }

    }

    #job-seeker-wrapper {

        h2 {
            font-size: 17px;
        }
        #job-seeker-btns {
            .seeker-btn {
                text-align: center;
                padding: 20px;
                border: 1px solid #2b353e;
                margin: 15px 0;

                &:hover {
                    background-color: #2b353e;
                    color: #fff;
                }
            }            
        }
    }


    #auth-buttons {
        button {
            background-color:#65B621;
            border: 1px solid #65B621;
            display: block;
            width: 100%;
            padding: 20px;
            text-align: center;
            margin-bottom: 15px;
        }

        a {
            border: 1px solid #2b353e;
            padding: 20px;
            text-align: center;
            display: block;
            margin-top: 10px;
        }
    }


    #employed {

        #select-month {
            width: 50%;
            padding: 16px;
        }

        #select-year {
            width: 50%;
            padding: 16px;
        }

    }

}