<nav class="">
    <section>

    <div class="d-flex align-items-center">
       
        <button id="hambugger-menu-btn">
            <i class="fas fa-bars"></i>
        </button>
        <h1 class="d-flex align-items-center">
            <a class="navbar-brand" href="#">Careers24</a>
        </h1>
    </div>

    <ul>
        <li>
            <a href="#">EMPLOYERS & RECRUITERS</a>
        </li>
        <li>
            |
        </li>
        <li>
            <a href="#">POST A JOB</a>
        </li>
        <li id="search-list-item" style="color: white;">
            <i class="fas fa-search"></i>
        </li>
        <li>
            <a routerLink="/" style="color: white">
                <i class="fas fa-user"></i>
            </a>
        </li>
    </ul>

</section>
</nav>

