<app-navbar></app-navbar>

<section id="hero">
    <div id="hero-content">
        <h1>Find Your dream career</h1>
        <h2>
             15029 
            <span>Jobs in South Africa</span>
        </h2>

        <ul>
            <li>
                <a href="#">Jobs</a>
            </li>
            <li>
                <a href="#">Companies</a>
            </li>
            <li>
                <a href="#">Courses</a>
            </li>
            <li>
                <a href="#">Career Advice</a>
            </li>
        </ul>


        <div id="form-wrapper">

            <div class="input-wrapper">
                <input type="text" placeholder="Job Title, Skill or Company">
            </div>
    
            <div class="input-wrapper">
                <input type="text" placeholder="Location">
            </div>
            <div class="checkbox-wrapper w-100 text-left mt-2">
                <label>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    
                    <span>Include Remote Jobs</span>
                </label>
            </div>
                <button class="fas fa-search"></button>
        </div>


    </div>


   

    
</section>


<!-- FOOTER  -->
<app-footer></app-footer>