<app-navbar></app-navbar>

<section id="hero">
    <div id="hero-content">
        <h1>Find Your dream career</h1>
        <h2>
             15029 
            <span>Jobs in South Africa</span>
        </h2>

        <ul>
            <li>
                <a href="#">Jobs</a>
            </li>
            <li>
                <a href="#">Companies</a>
            </li>
            <li>
                <a href="#">Courses</a>
            </li>
            <li>
                <a href="#">Career Advice</a>
            </li>
        </ul>

    </div>

    
</section>