#hero {
    width: 100% !important;
    height: 55vh;
    background: url('../../../assets/images/header-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 25px 15px 15px;

    #hero-content {
        text-align: center;
        color: #fff;

        h1 {
            font-weight: 700;
        }

        h2 {
            span {
                font-weight: 400;
                font-size: 1.7rem;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            list-style: none;


            li {
                margin: 10px;
                
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }

        }

        #form-wrapper {
            display: flex;
            width: 100% !important;

            .input-wrapper {
                background-color: #fff;
                padding: 10px;
                margin: 0 8px;
  
            }

            button {
                padding: 10px 30px;
                color: #fff;
                font-size: 17px;
                border: 1px solid #65B621;
                background-color: #65B621;
            }
        }

    }




}