<app-navbar></app-navbar>

<section id="hero">
    <div id="hero-content">
        <h1>Find Your dream career</h1>
        <h2>
             15029 
            <span>Jobs in South Africa</span>
        </h2>

        <ul>
            <li>
                <a href="#">Jobs</a>
            </li>
            <li>
                <a href="#">Companies</a>
            </li>
            <li>
                <a href="#">Courses</a>
            </li>
            <li>
                <a href="#">Career Advice</a>
            </li>
        </ul>

<div  id="hero-data-wrapper">
        <div id="hero-form-wrapper">
            <section>
                <div>
                    <div class="input-wrapper">
                        <input type="text" placeholder="Job Title, Skill or Company">
                    </div>
            
                    <div class="input-wrapper">
                        <input type="text" placeholder="Location">
                    </div>
                </div>

                    <div class="checkbox-wrapper w-100 text-left mt-2">
                        <label>
                            <input type="checkbox">                    
                            <span>Include Remote Jobs</span>
                        </label>
                    </div>
            </section>
            <button class="fas fa-search"></button>
        </div>

        <div id="side-btn">
            <button class="fas fa-search"></button>
        </div>

    </div>


    </div>

</section>

<section id="jobs-wrapper">
    <h1>Browse Jobs By:</h1>

    <div id="jobs">
        <div class="job job-by-region">
            <article>
                <h2>Search by Region</h2>
                <button class="fas fa-plus"></button>
            </article>

            <section class="category-data">

            </section>
        </div>

        <div class="job job-by-city">
            <article>
                <h2>Search by City</h2>
                <button class="fas fa-plus"></button>
            </article>

            <section class="category-data">

            </section>
        </div>
        <div class="job job-by-sector">
            <article>
                <h2>Search by Sector</h2>
                <button class="fas fa-plus"></button>
            </article>

            <section class="category-data">

            </section>
        </div>
    </div>
</section>


<section id="mobile-section">
    <div id="phone-wrapper">
        <img src="../../../assets/images/phone.png" alt="Phone Not Found">
    </div>
    <div>
        <div id="jobs-mobile-data">
            <h1>Never miss a job opportunity</h1>

            <p>Get Careers24 on your phone</p>

            <ul>
                <li>Access 1000s of jobs, on the go</li>
                <li>Filtering to find the jobs that suit you</li>
                <li>Apply directly and in real time</li>
            </ul>

        </div>
        <div id="download-btns">
            <img src="../../../assets/images/apple-store.png" alt="Image Not Found">
            <img src="../../../assets/images/google-play.png" alt="Image not found">
            <img src="../../../assets/images/huawei_logo.png" alt="Image not found">
        </div>
    </div>
</section>


<!-- FOOTER  -->
<app-footer></app-footer>