<div id="footer-wrapper">
<footer>
    <section>
        <header>
            <h2>About Careers24.com</h2>
            <!-- <button class="fab fa-plus fa-2x"></button> -->
            <button class="fa fa-plus" type="button" data-toggle="collapse" data-target="#sectionContent1" aria-expanded="false" aria-controls="sectionContent1" (click)="skewBtn($event)"></button>
        </header>
        <div class="section-content collapse" id="sectionContent1">
            <p>
                Careers24 is a leading South African job portal that assists jobseekers from all sectors and experience levels to find and apply for vacancies from hundreds of South Africa’s leading companies. With over a million visitors a month, we are one of the most popular destinations to find employment online in South Africa.
            </p>

            <p>
                Our mission is to become the destination where every candidate can find an ideal job and where every company can find the perfect candidate. We are a proud member of the Media24 family and part of the Naspers group of companies.
            </p>
        </div>
    </section>

    <section>
        <header>
            <h2>Company</h2>
            <button class="fa fa-plus" type="button" data-toggle="collapse" data-target="#sectionContent2" aria-expanded="false" aria-controls="sectionContent2" (click)="skewBtn($event)"></button>
        </header>
        <div class="section-content collapse" id="sectionContent2">
            <ul>
                <li><a href="#">Work For Us</a></li>
                <li><a href="#">Advertise With Us</a></li>
            </ul>
        </div>
    </section>


    <section>
        <header>
            <h2>Quick Links</h2>
            <button class="fa fa-plus" type="button" data-toggle="collapse" data-target="#sectionContent3" aria-expanded="false" aria-controls="sectionContent3" (click)="skewBtn($event)"></button>
        </header>
        <div class="section-content collapse" id="sectionContent3">
            <ul>
                <li><a href="#">Recruiters Directory</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Site Terms and Privacy Policy</a></li>
                <li><a href="#">Widgets</a></li>
                <li><a href="#">Recruiter Terms</a></li>
                <li><a href="#">Faq</a></li>
            </ul>
        </div>
    </section>

    <section>
        <header>
            <h2>Partner Sites</h2>
            <button class="fa fa-plus" type="button" data-toggle="collapse" data-target="#sectionContent4" aria-expanded="false" aria-controls="sectionContent4" (click)="skewBtn($event)"></button>
        </header>
        <div class="section-content collapse" id="sectionContent4">
            <ul>
                <li><a href="#">Simplify.hr</a></li>
                <li><a href="#">News24</a></li>
                <li><a href="#">Property24</a></li>
                <li><a href="#">Media24</a></li>
            </ul>
        </div>
    </section>

    <section id="last-section">
        <header>
            <h2>Follow Us</h2>
        </header>
        <div>
        
                <ul>
                    <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
                    <img src="../../../assets/images/iabLogo.png" alt="image not found">
                
        </div>
    </section>
    
    

</footer>

<p class="text-center p-3">
    &copy; Careers24. All rights reserved
</p>

</div>
