footer {
    background-color: #2b353e;
    color: #fff;
    padding: 10px;
    padding-top: 30px;

    header{
        display : flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-size: 18px;
        }

        .fa-plus {
            background-color: transparent;
            border: none;
            outline: none;
            font-weight: 800;
            font-size: 20px;
            color: #fff;
        }

    }

    

   ul{
      list-style: none; 
    a {
        color:#fff;
    }

}


section {
    margin-bottom: 30px;

    // & > .section-content {
    //     overflow: hidden;
    //     height: 0px;
    //     transition: height 1s linear;
    // }

    // .show-content{
    //     height: 100%;
    // }


   
}



#last-section {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background: red;
    padding-bottom: 6px;
    border-bottom: 1px solid #fff;
    
    ul {
        padding: 0;
        display: flex;
        align-items: flex-end;
        height: 50px;
        background-color: blue;

        li a {
            font-size: 20px;
            font-weight: 700;
            margin: 0 10px;
        }

    }

    
    img {
        width: 71px;
        height: 50px;
    }
}

article {
    margin-top: -15px !important;
    font-size: 13px;
}


    

}

