<footer>
    <section>
        <header>
            <h2>About Careers24.com</h2>
            <!-- <button class="fab fa-plus fa-2x"></button> -->
            <i class="fab fa-plus" (click)="dropContent($event)"></i>
        </header>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, similique laudantium. Veritatis, velit blanditiis voluptate tenetur reprehenderit optio obcaecati a in sit minima assumenda ipsum eaque soluta dolorem, mollitia omnis.
        </div>
    </section>

    <section>
        <header>
            <h2>Company</h2>
        </header>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, similique laudantium. Veritatis, velit blanditiis voluptate tenetur reprehenderit optio obcaecati a in sit minima assumenda ipsum eaque soluta dolorem, mollitia omnis.
        </div>
    </section>


    <section>
        <header>
            <h2>Quick Links</h2>
        </header>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, similique laudantium. Veritatis, velit blanditiis voluptate tenetur reprehenderit optio obcaecati a in sit minima assumenda ipsum eaque soluta dolorem, mollitia omnis.
        </div>
    </section>

    <section>
        <header>
            <h2>Partner Sites</h2>
        </header>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, similique laudantium. Veritatis, velit blanditiis voluptate tenetur reprehenderit optio obcaecati a in sit minima assumenda ipsum eaque soluta dolorem, mollitia omnis.
        </div>
    </section>

    <section>
        <ul>
            <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, similique laudantium. Veritatis, velit blanditiis voluptate tenetur reprehenderit optio obcaecati a in sit minima assumenda ipsum eaque soluta dolorem, mollitia omnis.
        </div>
    </section>

</footer>