<div id="forgot-password-wrapper">
    <app-navbar></app-navbar>
    

    <main>
        
        <header>
            <h1>Forgot Password</h1>
        </header>
        <div id="paragraph-wrapper">
            <p>Enter the email address used to register with to be sent an email containing instructions on resetting your password. The form below</p>
        </div>

        <section>
            <form>
                <div class="form-group">
                    <input type="email"  id="" placeholder="Email Address">
                </div>
                <div>
                    <button>SEND</button>
                </div>
            </form>
        </section>


    </main>
    <app-footer></app-footer>
</div>